a{
    font-size:20px;
}
.gioithieu{
    background-color: brown;
    color: white;
}
i{
    color: black;
}
p{
    font-size: 30px;
}
h1{
    text-align: center;
}
td{
    padding-left: 0;
    padding-right: 0;
}